*{
    margin: 0;
    padding: 0;
}

.main{
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.main-container{
    position: relative;
    display: flex;
    transform: translateX(-100%);
}
.main-container > .carousel-banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50%;
}
.main-container > .carousel-banner > span{
    position: absolute;
}
.carousel-banner:first-child{
    background-color: #3e3;
}
.carousel-banner:nth-child(2){
    background-color: #f21;
}
.carousel-banner:nth-child(3){
    background-color: rgb(34, 61, 170);
}