/* CSS 기본 설정 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
main{
    position: relative;
    height: 100vh;
}


/* 구리시 뉴스 컨텐츠 설정 */
.guri-news{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 뉴스 콘텐츠 타이틀(TITLE) */
.guri-news > .guri-news-head{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* 뉴스 타이틀 텍스트 */
.guri-news-head > .guri-news-title{
    position: relative;
}
.guri-news-title > h2{
    font-family: "S-Core Dream 8";
    font-size: 1.8em;
    letter-spacing: -1px;
}
.guri-news-title > span{
    font-family: "S-Core Dream 3";
    font-size: 1em;
}
/* 뉴스 타이틀 더보기 */
.guri-news-head > .guri-news-more{
    position: relative;
    z-index: 1;
}
.guri-news-more > a{
    z-index: 2;
}
.guri-news-more > a > span{
    position: relative;
    font-family: "S-Core Dream 4";
    font-size: 1em;
    z-index: 3;
}
.guri-news-more > a > i{
    font-size: 1.2em;
    font-weight: 900;
}
.guri-news-more > a > span::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20%, -20%);
    width: 45px;
    height: 32px;
    border-radius: 20px;
    background-color: rgb(255, 224, 140);
    z-index: -1;
}

/* 뉴스 콘텐츠 메뉴(MENU) */
.guri-news > .guri-news-menu{
    position: relative;
    margin-top: 5vh;
}
.guri-news-menu > ul{
    display: flex;
    justify-content: center;
}
.guri-news-menu > ul > li{
    position: relative;
    margin: 0 20px;
}
.guri-news-menu > ul > li::after{
    content: '';
    position: absolute;
    display: flex;
    justify-items: flex-end;
    top: 0;
    right: -20%;
    width: 6px;
    height: 6px;
    background-color: red;
}